*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lucida Handwriting','Brush Script MT','Comic Sans MS', cursive;
}
.large{
    height:90vh;
    margin:100px;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 0px 0px 10px 20px rgb(0, 0, 0,0.2);
    border-radius: 5rem;
    border:solid rgba(32, 31, 31, 0.055) 2px;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Handwriting','Brush Script MT','Comic Sans MS', cursive;
   
}
.heart{
    height:64vh;
    width:34%;
    padding-top:5rem;
    border-radius:10rem;
    animation: beat 1.5s infinite ease-in-out;
  
} 

@keyframes beat {
    0%, 100% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.05);
    }
}


.text{
    font-size:2.8rem;
    color:#ff0a54;
    font-family: 'Lucida Handwriting','Brush Script MT','Comic Sans MS', cursive;
  }
.text{
    display:flex;
    justify-content:center;
    align-items: center;
}
.btn{
    margin-top:20px;
    height:20vh;
    width:100%;
}
button{
    height:4rem;
    width:9rem;
    background-color: #ff477e;
    color:white;
    font-size:2rem;
    border:none;
    outline:none;
    border-radius:1.4rem;
    opacity: 0.8;
    cursor:pointer;
}

.hide{
    display:none;
    height:100vh;
    background-color:#e386a2;
   
    font-size:4rem;

}

.txt{
    padding:330px;
    color:white;
    font-weight: 500;
    font-family: 'Lucida Handwriting','Brush Script MT','Comic Sans MS', cursive;
}
.txt i{
    margin-left:50px;
    font-size:7rem;
    animation: beat 1.5s infinite ease-in-out;

}


button:hover{
    opacity:0.4;
}
#yes{
    margin-left:20%;
}